<!-- Logo -->
<a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <h2 class="page-header">
        <img src="dist/img/diamond.png" width="10%">
        <font size="5px">Hotel Permata</font>
    </h2>
    <!-- logo for regular state and mobile devices -->
    <!-- <span class="logo-lg">Material<b>Admin</b>LTE</span> -->
</a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu" ng-controller="SignOutController">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="" class="dropdown-toggle" ng-click="LogOut()" data-toggle="dropdown">
                    <span class="hidden-xs">Sign Out</span>
                </a>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>

</nav>