<div ng-init="Init()">
    <!-- Content Header (Page header) -->
    <div class="col s12 center-align"><span class="flow-text">SELAMAT DATANG DI WEBSITE RESERVASI <BR> HOTEL PERMATA</span></div>
    <div class="carousel" style="border: 1px;">
        <a class="carousel-item" href=""><img class="materialboxed" src="dist/img/corousel/Gambar1.png"></a>
        <a class="carousel-item" href=""><img class="materialboxed" src="dist/img/corousel/Gambar2.png"></a>
        <a class="carousel-item" href=""><img class="materialboxed" src="dist/img/corousel/Gambar3.png"></a>
        <a class="carousel-item" href=""><img class="materialboxed" src="dist/img/corousel/Gambar4.png"></a>
        <a class="carousel-item" href=""><img class="materialboxed" src="dist/img/corousel/Gambar5.png"></a>
        <!-- <a class="carousel-item" href=""><img class="materialboxed" src="dist/img/corousel/4.png"></a>
        <a class="carousel-item" href=""><img class="materialboxed" src="dist/img/corousel/5.png"></a>
        <a class="carousel-item" href=""><img class="materialboxed" src="dist/img/corousel/6.png"></a> -->
    </div>
    <section class="content">
        <div class="row">
            <p style="font-size: 20px; margin-left: 24px; margin-right: 24px;">
                Hotel Permata Merupakan hotel melati II yang terletak tepat di tengah-tengah kota Jayapura dan strategis di jantung kantor Bisnis utama dan itu adalah tempat yang memiliki akses mudah untuk memenuhi kebutuhan anda, seperti pusat belanja, mall, pasar public
                dan kantor pemerintahan
            </p>
        </div>
        <div class="col s12 left-align"><span class="flow-text">Fasilitas Hotel</span></div>
        <div class="row">
            <div class="col s3 center-align">
                <h4><a><i class="fa fa-adn"></i></a> <br>
                    <a href="#">
                        <font size="3px">AC</font>
                    </a>
                </h4>
            </div>
            <div class="col s3 center-align">
                <h4><a><i class="fa fa-car"></i></a> <br>
                    <a href="#">
                        <font size="3px">Parking</font>
                    </a>
                </h4>
            </div>
            <div class="col s3 center-align">
                <h4><a><i class="fa fa-clock-o"></i></a> <br>
                    <a href="#">
                        <font size="3px">24-Hour Front Desk</font>
                    </a>
                </h4>
            </div>
            <div class="col s3 center-align">
                <h4><a><i class="fa fa-spoon"></i></a> <br>
                    <a href="#">
                        <font size="3px">Restorant</font>
                    </a>
                </h4>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function() {
        $('.carousel').carousel();
    });
    $(document).ready(function() {
        $('.materialboxed').materialbox();
    });
</script>