<div ng-init="Init()">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <img src="dist/img/diamond.png" width="10%">
                <font size="10px">Hotel Permata</font>
                <BR>
                <font size="4px">ACCOMODATION, RESTAURANT, COFFEE SHOP,
                    <BR>MEETING ROOM, BUSINESS CENTER</font>
            </h2>
        </div>
        <div class="col-xs-12">
            Jln. Olahraga No. 3 Paldam, Jayapura, 99111-Papua<br> Telp: (0967) 531333 (hunting), Fax: (0967) 535373 <br>Phone/WA/SMS : 085288980598 <br>Email: hotelpermatajayapura@gmail.com
        </div>
        <!-- /.col -->
    </div>
</div>